.box {
  margin-bottom: 2.5px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  padding: 0 10px; 
  margin-left: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}
.box img {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.box h5 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.big-box{
  overflow: auto;
  height: 78vh;
}
.inputt{
  width: 100%;
  font-size: 18px;
}
.input2{
  margin-top: 1px;
  width:65%;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}
.picker{
  height: wrap;
  width: wrap;
  position: fixed;
  bottom: 0;
}
.img1 {
  height: 35px;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.img2 {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.butt{
  width: 15%;
  height: 51px;
  margin-left: 10px;
  margin-bottom: 3px;
}
@media (max-width: 808px) {
  .img1 {
    margin-right: 5px;
  }
  .img2 {
    margin-right: 5px;
  }
  .butt{
    width: 15%;
    height: 51px;
    margin-left: 5px;
  }
  .inputt{
    padding: 0px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
  }
  .input2{
    width:60%;
    border-radius: 5px;
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .img1 {
    margin-right: 2px;
  }
  .img2 {
    margin-right: 2px;
  }
  .butt{
    width: 15%;
    height: 45px;
    margin-left: 2px;
  }
  .inputt{
    height: 50px;
    padding: 0px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
  }
  .input2{
    height: 45px;
    width:60%;
    border-radius: 5px;
    font-size: 18px;
  }
}
@media (max-width: 331px) {
  .butt{
    width: 20%;
    height: 45px;
    margin-left: 2px;
  }
  .inputt{
    height: 50px;
    padding: 0px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
  }
  .input2{
    height: 45px;
    width:50%;
    border-radius: 5px;
    font-size: 18px;
  }
}
@media (max-width: 284px) {
  .img1 {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  .img2 {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  .butt{
    width: 20%;
    height: 45px;
    margin-left: 2px;
  }
  .inputt{
    height: 50px;
    padding: 0px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
  }
  .input2{
    height: 45px;
    width:43%;
    border-radius: 5px;
    font-size: 18px;
  }
}
.group-selector {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Set container height to the full viewport height */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Heading style */
.heading {
  font-size: 24px;
  margin-bottom: 10px;
}
.backbtn{
  cursor: pointer;
  height: 35px;
  left: 0px;
}


