.bigbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.yourmsg {
  max-width: 70%;
  border-radius: 10px;
  padding: 8px;
  margin-left: auto; 
}

.othermsg {
  max-width: 70%;
  border-radius: 10px;
  padding: 8px;
  margin-right: auto;
}

.name {
  font-weight: bold;
  color: darkblue; 
  margin-bottom: 5px;
}

.msg {
  margin: 5px 0;
  overflow-wrap: break-word;   
  word-break: break-all;
}

.time {
  font-size: 14px;
  color: darkblue;
  float: right;
}
.imag {
  min-width: 90%;
  margin-top: 5px;
  max-width: 100%;
  cursor: pointer;
}
