.parent {
  height: 60px;
  display: block;
  padding: 5px;
}
.box {
  position: absolute;
  float: left;
  margin-left: 20px;
}
.box img {
  height: 50px;
  width: 50px;
}
.box h3 {
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}
.box2 {
  float: right;
  margin-right: 5px;
}
.box2 Form {
  float: left;
  margin-top: 12px;
  margin-right: 10px;
}
.box2 img {
  height: 50px;
  width: 50px;
}
.userpic{
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.userPicContainer {
  display: inline-block;
}

.accountNameBar {
  position: absolute;
  top: 60px;
  right: 0;
  width: wrap;
  color: white;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  z-index: 1;
}
.accountNameBar p{
  cursor: pointer;
  margin-bottom: 7px;
  
}